.homepage__newsletter {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    min-width: 375px;
    max-width: 900px;
    color: var(--white);
    margin: 7rem auto;
    overflow: hidden;
}

.newsletter__title {
    font-family: var(--poppins-font);
    color: var(--whitish-gray);
    font-size: 1.2rem;
    text-align: center;
    max-width: 650px;
    font-weight: 400;
}

.newsletter__success {
    color: var(--green);
    font-size: 1.5rem;
    line-height: 160px;
}
.newsletter__error {
    font-family: var(--poppins-font);
    color: var(--pizza-red);
}
.newsletter__form {
    min-width: calc(40% + 5rem);
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}
