@media screen and (min-width: 550px) {
  .meal-item {
    flex-direction: row;
    padding: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .pricing-grid {
    gap: 2.5rem;
  }
  .gallery,
  .highlights,
  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer,
  .dish-categories {
    flex-direction: row !important;
  }
  .blog-posts-landing {
    flex-direction: row;
  }
  .dish-categories button {
    font-size: 1.5rem;
  }
  .blog-grid {
    padding-top: 3rem;
  }
  .section-10 {
    justify-content: space-evenly;
    gap: 5rem;
  }

  footer {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 800px) {
  .meals-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    width: 800px;
  }

  .meal-item {
    gap: 1rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  .meal-item-details {
    display: grid;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 1025px) {
  .navigation-menu {
    display: flex;
  }
  .header-info h1 {
    font-size: 2.5rem;
  }
  .section-10 {
    flex-direction: row !important;
  }
  .map {
    height: auto;
    width: 80%;
  }
  .meals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    width: 970px;
  }
  .burger-bars {
    display: none;
  }
  .main-nav {
    width: 100%;
    z-index: 999;
  }

  .header-info p {
    width: 70%;
    margin: 0 auto;
  }

  .services-grid {
    display: flex;
    flex-direction: row;
  }

  .company-details {
    align-items: center;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .highlights {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-8 {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-11 {
    display: flex;
    flex-direction: row;
  }
  .section-11.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .section-2-info img {
    display: block;
  }
  .logo-styling {
    gap: 1rem;
  }
  .logo {
    width: 80%;
  }
  .logo-styling h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .meals-grid {
    gap: 1rem;
    overflow-y: hidden;
    width: 1200px;
  }
}
