input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.checkout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  min-height: 100vh;
  padding-bottom: 10rem;
  background-color: var(--light-black);
  color: var(--white);
  font-family: var(--poppins-font);
  background-image: none;
}
.checkout h2 {
  margin: 0 auto;
  font-size: 3rem;
}

.checkout__inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.checkout__item {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 2rem;
  width: max-content;
  height: 10rem;
}
.checkout__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.checkout__item__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.checkout__item__info h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--yellow);
}

.checkout__form h3 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--yellow);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.checkout__form__error {
  font-family: var(--poppins-font);
  color: var(--pizza-red);
}
.checkout__form__address,
.checkout__form__number {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.checkout__form h3 a,
.checkout__form__address a,
.checkout__form__number a {
  font-size: 1rem;
  color: rgb(103, 15, 186);
}

.checkout__form,
.checkout__form form,
.checkout-choose-delivery,
.checkout-choose-delivery form,
.checkout-choose-payment,
.checkout__form-promo-code {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.checkout__form-promo-code input {
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid var(--light-gray);
  padding: 1rem;
  background-color: transparent;
  font-weight: 400;
  font-size: 1rem;
  width: 20%;
}

.checkout-choose-delivery form label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 50%;
}
.checkout__form__takeaway input[type="radio" i],
.checkout__form__delivery input[type="radio" i] {
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--white);
  padding: 0.5rem;
  border-radius: 50%;
}
.checkout__form__takeaway input[type="radio" i]:checked,
.checkout__form__delivery input[type="radio" i]:checked {
  border: 1px solid var(--white);
  background-color: var(--pizza-red);
}
.checkout__form__takeaway input:checked,
.checkout__form__delivery input:checked {
  width: 1rem;
}

.checkout__form__takeaway,
.checkout__form__delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.checkout__form__takeaway svg {
  width: 1rem;
  height: 1rem;
}
.checkout__form__delivery-details {
  border: none;
}

.checkout__form-promo-code {
  border: none;
}
.checkout__form-promo-code p {
  cursor: pointer;
  color: rgb(103, 15, 186);
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1rem;
  transition: all ease-in-out 0.2s;
  text-decoration: underline;
}
.checkout__form-promo-code p:hover {
  color: var(--white);
  transition: all ease-in-out 0.2s;
}

input[type="password"] {
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1rem;
}

.checkout__totals {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.checkout__totals__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  font-family: var(--poppins-font);
  color: var(--whitish-gray);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.2rem;
  gap: 1rem;
}
.checkout__totals__content h4 {
  font-weight: 300;
}
.checkout__totals__content p {
  font-weight: 600;
  color: var(--yellow);
}

.checkout-choose-payment input[type="date"] {
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.checkout-choose-payment label {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .checkout__inner {
    padding: 2rem;
  }
  .checkout__totals__content {
    flex-direction: row;
  }
  .checkout-choose-payment label {
    flex-direction: row;
    justify-content: space-between;
  }
}
