.homepage__menu-slider {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  overflow: hidden;
}
.homepage__menu-slider h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}
.menu-slider__categories {
  margin: 0 auto;
  gap: 1rem;
}
.menu-slider__categories ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.menu-slider__categories button {
  border: 1px solid var(--yellow);
  padding: 0.5rem 1rem;
  color: var(--yellow);
  font-family: var(--poppins-font);
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: capitalize;
  transition: all ease-in-out 0.2s;
  border-radius: 5px;
}

.menu-slider__categories button:hover {
  background-color: var(--yellow);
  color: var(--white);
  transition: all ease-in-out 0.2s;
}

.menu-slider__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 50vw;
}

.menu-slider__categories h3 {
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.menu-slider__product {
  display: grid;
  grid-template-rows: 10rem 1fr;
}

.menu-slider__product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-slider__product h3 {
  font-weight: 400;
}
.menu-slider__product-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.menu-slider__product-price {
  color: var(--yellow);
  font-size: 1.5rem;
}
.menu-slider__product-desc-txt {
  color: var(--whitish-gray);
}
.dish-details a {
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

@media (hover: hover) {
  .menu-slider__categories h3:hover {
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .menu-slider__categories h3:hover {
    background-color: var(--yellow);
    color: var(--light-black);
  }
  .dish-details a:hover {
    background-color: var(--yellow);
    color: var(--light-black);
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
}

@media screen and (min-width: 700px) {
  .menu-slider__categories {
    flex-direction: row !important;
  }
  .menu-slider__categories button {
    font-size: 1.5rem;
  }
  .menu-slider__products {
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
  }
}
