/* Hero Video */
.homepage__hero {
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero__video {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
}
.hero__video.loaded {
    display: inline-block;
}
.homepage__hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.749);
    backdrop-filter: blur(3px);
    top: 0;
    z-index: 3;
}
