.contact::before,
.contact::after {
  content: "";
  height: 10rem;
}
.contact {
  display: flex;
  flex-direction: column;
  background-color: var(--light-black);
  background-image: none;
}
.contact-success {
  color: var(--green);
  font-family: var(--poppins-font);
  font-size: 1.5rem;
  height: 460px;
}

.contact form {
  height: max-content;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.contact form textarea {
  resize: none;
}
.contact form .webflow-style-input {
  margin: 0;
}
.contact-us-img {
  background-image: url("../../assets/images/img-grid-1.jpeg");
  background-position: center;
  background-size: cover;
  height: 15rem;
  width: 100%;
  border-radius: 10px;
}

/* Contact Content */
.contact-us-content {
  background-color: var(--yellow);
  padding-bottom: 10rem;
}

.contact-us-content-txt {
  padding: 2rem;
  text-align: left;
  color: var(--white);
}
.contact-us-content-txt h1 {
  font-size: 4rem;
  letter-spacing: 1px;
}
.contact-us-content-txt h3 {
  line-height: 2rem;
}

.fullname-error-cpage,
.input-validation-error,
.email-error-cpage,
.textarea-error-cpage {
  font-family: var(--poppins-font);
  color: var(--pizza-red);
}

.button-msg-cpage {
  font-family: var(--poppins-font);
  color: var(--white);
  padding-top: 1rem;
}

.contact .active-button-style,
.contact .active-button-style:hover {
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.contact .active-button-style:hover {
  border-color: var(--white);
  background-color: transparent;
}

/***************  RESPONSIVE ***************/
@media screen and (min-width: 700px) {
  .contact form {
    width: 60%;
  }
}
@media screen and (min-width: 1025px) {
  .contact-us-img {
    position: absolute;
    width: 30%;
    height: 30%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(85%, 50%);
    top: 30%;
    right: 35%;
    border: 2px solid var(--yellow);
  }
  .contact-us-content-txt {
    width: 30%;
  }
}
