.homepage__services {
  text-align: center;
  background-color: var(--light-black);
  color: var(--white);
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
  max-width: 1440px;
  margin: 0 auto;
}
.homepage__services h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}
.homepage__services p {
  color: var(--light-gray);
  max-width: 1200px;
}

.services__items {
  gap: 2rem;
  margin-top: 8rem;
  margin: 0 auto;
}

.services__item {
  justify-content: center;
  position: relative;
  z-index: 1;
}
.services__item div {
  background-color: var(--lightish-black);
  padding: 1rem;
  position: absolute;
  top: 70%;
  z-index: 2;
  border-radius: 5px;
}

.services__items img {
  cursor: pointer;
  object-fit: cover;
  padding: 1rem;
  max-width: 23rem;
  min-width: 15rem;
  width: 100%;
  height: 17rem;
  border: 1px solid transparent;
  margin: 0 auto;
  z-index: 2;
  opacity: 0.8;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translate3d(42px, -62px);
  transform-style: preserve-3d;
}

.services__items h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (min-width: 1025px) {
  .services__items {
    display: flex;
    flex-direction: row;
  }
}
