.modal.active-modal {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  z-index: 999;
}
.modal {
  display: none;
}

.modal-main {
  position: relative;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(5px);
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  width: 90%;
  -webkit-align-self: center;
  align-self: center;
  margin: 0 auto;
  margin-top: 2%;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 3rem;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-modal-btn {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--light-black);
  font-size: 2rem;
  text-align: right;
  padding: 1rem;
  width: 90%;
}

.modal-content h2 {
  color: var(--pizza-red);
  font-family: var(--poppins-font);
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}
.modal-content input {
  width: 90%;
  background-color: transparent;
  border: 1px solid transparent;
  border: 1px solid var(--light-black);
  padding: 1rem;
}
.modal-content input:focus-visible {
  outline: none;
}
.modal-content input::placeholder {
  color: var(--light-black);
  text-transform: capitalize;
  font-family: var(--poppins-font);
  font-weight: 400;
  font-size: 1rem;
}

.modal-content input[type="email"],
.modal-content input[type="password"] {
  color: var(--light-black);
}

.modal-extras {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.modal-forgot-password {
  color: var(--light-black);
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
}

.login-and-signup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.login-and-signup .modal-signup-btn,
.login-and-signup .modal-login-btn {
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid transparent;
  padding: 0.7rem 1rem;
  width: 100%;
  text-transform: uppercase;
  border-radius: 10px;
  color: var(--light-black);
  background-color: transparent;
  font-weight: 400;
}

.login-and-signup .modal-signup-btn {
  background-color: var(--yellow);
}

.login-input-err {
  color: red;
  text-align: left;
}

@media screen and (min-width: 700px) {
  .modal-main {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  .modal-main {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .modal-main {
    width: 40%;
  }
}
