li {
  list-style: none;
}
.menu::after {
  content: "";
  height: 10rem;
}
.menu {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url("../../assets//images/landing-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}
.menu__categories h1 {
  font-family: var(--josefin-font);
  text-align: left;
}
.menu__categories {
  grid-column: span 1;
  background-color: transparent;
  color: var(--white);
  width: 100%;
  justify-content: space-around;
  margin-top: 2rem;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* Menu Search */

.menu__categories__search {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 2rem;
  margin-bottom: 4rem;
  position: relative;
}

.menu__categories__search input::placeholder {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
}
.menu__categories__search input[type="text"] {
  width: 80%;
  display: block;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  opacity: 0.6;
  border-radius: 20px;
  outline: none;
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  padding: 1rem;
}
.menu__categories__search img {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 50%;
  right: 15%;
}

/* ScrollBar */

.menu__categories ul::-webkit-scrollbar {
  width: 1em;
}

.menu__categories ul::-webkit-scrollbar-track {
  box-shadow: transparent;
}

.menu__categories ul::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.menu__categories ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--yellow);
  font-family: var(--poppins-font);
  overflow-x: auto;
  scroll-behavior: smooth;
}

.menu__categories ul a {
  color: var(--white);
}
.menu__categories ul a:hover {
  color: var(--pizza-red);
}

.menu__items {
  display: grid;
  grid-column: span 1;
  grid-template-columns: 1fr;
  width: 90vw;
  margin: 0 auto;
}
.pagination {
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 15rem;
}
.pagination li {
  cursor: pointer;
}

.pagination li.selected {
  color: var(--pizza-red);
}
/* MENU ITEM */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 30%;
  height: 100%;
  justify-content: space-around;
  position: relative;
}
.menu-item__link {
  max-width: 100%;
  height: 21rem;
  max-height: 70%;
}
.menu-item__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-item h3 {
  font-size: 1.5rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  letter-spacing: 1px;
}
/* MENU ITEM ATTRIBUTES */
.menu-item__attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item__attributes li {
  border: 1px solid rgba(255, 255, 255, 0.113);
  opacity: 0.7;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.5rem;
}
.menu-item__pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.menu-item__pricing-curr {
  color: var(--yellow);
}
.menu-item__pricing-sale {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.menu-item__pricing-prev {
  color: var(--pizza-red);
  text-decoration: line-through;
}

.add-to-cart-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.add-to-cart-value {
  font-size: 1.5rem;
  color: var(--whitish-gray);
}

.add-to-cart-buttons button {
  cursor: pointer;
  font-size: 2rem;
  color: var(--whitish-gray);
  background-color: transparent;
  border: 1px solid transparent;
  transition: all ease-in-out 0.2s;
  text-align: center;
}

.menu-item__pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.menu-item__pricing-curr {
  color: var(--yellow);
}

.menu__not-found {
  color: var(--white);
  margin-top: 3rem;
}

@media (hover: hover) {
  .add-to-cart-buttons button:hover {
    color: var(--yellow);
    transition: all ease-in-out 0.2s;
  }
}

/***************  RESPONSIVE ***************/
@media screen and (min-width: 700px) {
  .menu {
    grid-template-columns: repeat(4, 1fr);
    gap: none;
  }

  .menu__categories {
    grid-column: span 1;
    position: sticky;
    top: 15%;
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow-x: initial;
    scroll-behavior: initial;
    align-items: initial;
  }
  .menu__categories__search {
    width: 100%;
  }
  .menu__categories ul {
    flex-direction: column;
    justify-content: space-around;
    gap: initial;
    line-height: 5rem;
    overflow-x: initial;
    scroll-behavior: initial;
  }

  .menu__categories ul li a {
    color: var(--white);
    transition: all ease-in-out 0.3s;
  }

  .menu__categories ul li a:hover {
    color: var(--pizza-red);
    transition: all ease-in-out 0.3s;
  }

  .menu__categories li {
    border-bottom: 1px solid var(--yellow);
  }
  .menu__categories li:last-of-type {
    border-bottom: none;
  }
  .menu__items {
    grid-column: span 3;
    gap: 2rem;
    width: 70vw;
  }
  .pagination {
    position: absolute;
    bottom: 1%;
    right: 30%;
  }
}

@media screen and (min-width: 1110px) {
  .menu__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu__categories {
    width: 80%;
  }
  .menu__categories ul {
    padding: 0;
  }
  .menu {
    position: relative;
  }
  .pagination {
    margin: initial;
  }
  .pagination li.selected {
    color: var(--pizza-red);
  }
}

@media screen and (min-width: 1440px) {
  .menu__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
