.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin: 0 auto;
  background-color: var(--light-black);
}

.register h2 {
  color: var(--white);
  font-family: var(--poppins-font);
  margin: 0 auto;
  font-size: 3rem;
  padding: 2rem;
}

.register__form {
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  align-items: left;
  justify-content: space-between;
  width: 90%;
}

.register__form__field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.register input {
  border: 1px solid #fac56425;
  background-color: transparent;
  padding: 1rem;
  border-radius: 10px;
}

.register input::placeholder {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.register input:focus-visible {
  outline: 1px solid var(--yellow);
}

.register input[type="text"],
.register input[type="password"] {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.register input[type="radio" i] {
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--whitish-gray);
  padding: 0.3rem;
  border-radius: 50%;
}

.register input[type="radio" i]:checked {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.register__form__field-b {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.register__form__field-b label {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1.2rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.register__form__field-b select {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #fac56425;
  padding: 0.7rem;
  border-radius: 10px;
}

.register__form__field-b select:focus-visible {
  outline: 1px solid transparent;
}

.register__form__terms {
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.register__submit {
  cursor: pointer;
  border: 1px solid var(--whitish-gray);
  background-color: transparent;
  color: var(--whitish-gray);
  border-radius: 10px;
  padding: 1rem;
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}
.register__submit:hover {
  border: 1px solid var(--yellow);
  background-color: transparent;
  color: var(--yellow);
  transition: all ease-in-out 0.3s;
}
.register__error {
  color: var(--red);
}
.register__success p {
  color: var(--green);
  font-family: var(--poppins-font);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .register__form {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .register__form {
    width: 50%;
  }
}

.register__success {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__success h3 {
  color: var(--green);
  font-size: 2rem;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}
.loader p {
  color: var(--light-black);
  font-family: var(--poppins-font);
  letter-spacing: 1px;
}
.loader img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
