.register-main::before {
  content: "";
  height: 2rem;
}
.register-main::after {
  content: "";
  height: 10rem;
}
.register-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--light-black);
}

.register-main h1 {
  color: var(--white);
  font-family: var(--poppins-font);
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 4rem;
  padding: 2rem;
}

.registration-form {
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--poppins-font);
  font-weight: 400;
  align-items: left;

  justify-content: space-between;
  width: 90%;
}

.name-section,
.email-section,
.password-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gender,
.register-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gender {
  align-items: flex-start;
}
.birthday-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.register-section::before {
  content: "";
  height: 3rem;
}

.register-main input {
  border: 1px solid #fac56425;
  background-color: transparent;
  padding: 2rem;
  border-radius: 10px;
}

.register-main input::placeholder {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.register-main input:focus-visible {
  outline: 1px solid var(--yellow);
}

.register-main input[type="text"],
.register-main input[type="password"] {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
input[type="radio" i] {
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--whitish-gray);
  padding: 0.3rem;
  border-radius: 50%;
}

input[type="radio" i]:checked {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.birthday {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.birthday label {
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1.2rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.birthday select {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--white);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  border: 1px solid #fac56425;
  padding: 0.7rem;
  border-radius: 10px;
}

.birthday select:focus-visible {
  outline: 1px solid transparent;
}

.register-section {
  width: 90%;
  width: 18rem;
  margin: 0 auto;
}
.terms-warning {
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.5;
}

.register-btn {
  cursor: pointer;
  border: 1px solid var(--whitish-gray);
  background-color: transparent;
  color: var(--whitish-gray);
  border-radius: 10px;
  padding: 1rem;
  color: var(--whitish-gray);
  font-family: var(--poppins-font);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}
.register-btn:hover {
  border: 1px solid var(--yellow);
  background-color: transparent;
  color: var(--yellow);
  transition: all ease-in-out 0.3s;
}
.registration-input-err {
  color: red;
}
.form-submit-msg {
  color: green;
  font-family: var(--poppins-font);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}
@media screen and (min-width: 700px) {
  .registration-form {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .registration-form {
    width: 50%;
  }
}
