@media screen and (min-width: 550px) {
  .meal-item {
    flex-direction: row;
    padding: 1rem;
    /* gap: 2rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-black); */
  }
  .meal-item img {
    max-width: 50%;}
}

@media screen and (min-width: 700px) {
  .section-description {
    font-size: 1.3rem;
  }

 
  .pricing-grid {
    gap: 2.5rem;
  }
  .img-grid,
  .highlights,
  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-10,
  footer,
  .dish-categories {
    flex-direction: row !important;
  }
  .blog-posts-landing {
    flex-direction: row;
  }

  .blog-posts {
    padding-top: 3rem;
  }
  .section-10 {
    justify-content: space-evenly;
    gap: 5rem;
  }
  .map {
    height: auto;
    width: 80%;
  }

  footer {
    justify-content: space-evenly;
  }
  .section-2-info {
    width: 65%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  .meals-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .meal-item {
    gap: 1rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    /* align-items: flex-start; */
  }
  .meal-item img {
    max-width: 100%;
   height: 100%;
  }
  .meal-item-details {
    display: grid;
    grid-template-rows: 1fr;
    /* justify-content: space-between; */
    /* gap: initial; */
  }
}
@media screen and (min-width: 1025px) {
  .navigation-menu {
    display: flex;
  }
  .meals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }
  .burger-bars {
    display: none;
  }
  .main-nav {
    /* position: fixed; */
    width: 100%;
    z-index: 999;
    justify-content: space-around;
  }

  .header-info p {
    width: 40%;
    margin: 0 auto;
  }
  .section-1,
  .company-details,
  .services-grid {
    display: flex;
    flex-direction: row;
  }

  .company-details {
    align-items: center;
    width: 100%;
  }

 

  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .highlights {
    grid-template-columns: repeat(4, 1fr);
    /* margin: 0 auto; */
  }

  .section-8 {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu-slider-hero {
    max-width: 40%;
    object-fit: cover;
  }

  .section-11 {
    display: flex;
    flex-direction: row;
  }
  .section-11.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}
