.homepage__welcome {
    overflow: hidden;
}
/* Section 2 */
.welcome__cover {
    width: 100%;
    object-fit: cover;
    max-height: 20rem;
    height: 50%;
    z-index: 2;
    opacity: 0.8;
}
.welcome__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.welcome__info h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
}

.welcome__info h2 span {
    font-family: var(--nothing-font);
    color: var(--yellow);
}

.welcome__info p {
    color: var(--light-gray);
    font-size: 1.2rem;
    line-height: 2rem;
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
}

.welcome__info img {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 20%;
    height: auto;
    object-fit: contain;
    top: 3rem;
}
@media screen and (min-width: 1025px) {
    .welcome__info img {
        display: block;
    }
}
